<div class="container-layout">
  <div *ngIf="label !== 'Users'" style="display: flex; flex-direction: row">
    <div routerLink="/" class="container-back">
      <mat-icon style="width: 100%; height: fit-content"
        >keyboard_backspace</mat-icon
      >
    </div>
    <p class="label-header">
      {{ label }}
    </p>
  </div>

  <div *ngIf="label == 'Users'" style="width: 100%">
    <p style="margin: auto; font-size: 20px; text-align: center; padding: 0">
      {{ label }}
    </p>
  </div>
</div>
