<div class="container-home">
  <app-header label="Users" />
  <app-search-bar (handleChange)="handleChangeParent($event)"> </app-search-bar>

  <div
    class="container-card"
    *ngIf="cards && !loading && !error && card == null"
  >
    <div *ngFor="let card of cards">
      <mat-card class="img-card" (click)="nextPage(card.id)">
        <img
          class="img-avatar"
          mat-card-avatar
          [src]="card.avatar"
          style="margin: 10px 10px auto auto"
        />
        <mat-card-content class="card-content">
          <p class="f-name">{{ card.first_name }} {{ card.last_name }}</p>
          <p class="l-name">
            {{ card.email }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container-card" *ngIf="card && !loading && !error">
    <mat-card class="img-card" (click)="nextPage(card.id)">
      <img
        class="img-avatar"
        mat-card-avatar
        [src]="card.avatar"
        style="margin: 10px 10px auto auto"
      />
      <mat-card-content class="card-content">
        <p class="f-name">{{ card.first_name }} {{ card.last_name }}</p>
        <p class="l-name">
          {{ card.email }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <span
    *ngIf="error && !loading && card == null && cards.length == 0"
    style="display: flex; justify-content: center; padding: 50px"
  >
    ID not found
  </span>

  <div
    *ngIf="loading"
    style="
      margin-top: 10px;
      display: flex;
      justify-content: center;
      padding: 30px;
    "
  >
    <mat-spinner style="width: 30px"></mat-spinner>
  </div>
  <mat-paginator
    style="margin-top: 10px"
    [length]="18"
    [pageIndex]="pageIndex"
    [hidePageSize]="true"
    aria-label="Select page"
    [pageSize]="6"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
